.board {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 400px;
  height: 400px;
  padding: 20px;
  background-color: #5a61c7;
}

.board-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}
